Repository AoifeHughes/ahlingo: changes, and which pre-commit hooks are due for each by the changed paths.
All: react-native-lint, react-native-prettier, typescript-check

react-native-lint:
  name: React Native ESLint check
  entry: bash -c 'cd ahlingo_mobile && npm run lint'
  language: system
  pass_filenames: false

react-native-prettier:
  name: React Native Prettier auto-format
  entry: bash -c 'cd ahlingo_mobile && npx prettier --write "src/**/*.{js,jsx,ts,tsx,json}"'
  language: system
  pass_filenames: false

typescript-check:
  name: TypeScript type check
  entry: bash -c 'cd ahlingo_mobile && npx tsc --noEmit'
  language: system
  pass_filenames: false

Add new scripts and templates for GGUF model handling
  ahlingo_mobile/ios/.xcode.env.local
  ahlingo_mobile/ios/AhLingo.xcodeproj/project.pbxproj
  ahlingo_mobile/ios/AhLingo.xcworkspace/contents.xcworkspacedata
  ahlingo_mobile/ios_fix_script.sh
  ahlingo_mobile/package-lock.json
  ahlingo_mobile/package.json
  ahlingo_mobile/src/components/PairButton.tsx
  ahlingo_mobile/src/screens/PairsGameScreen.tsx
  ahlingo_mobile/src/services/TTSService.ts
  content/content_creation/assistants.py
  content/content_creation/database_validator.py
  content/content_creation/exercise_converters.py
  content/content_creation/generate_lessons.py
  content/content_creation/models.py
  content/content_creation/outlines_generator.py
  content/content_creation/validation_models.py
  content/create_exercise_database.py
  content/database/database_manager.py
  content/generate_pronunciation_audio.py
  content/generation_data/topics.txt
  content/specific_reqs.txt
  generation_failures_20250714_175836.csv
  run_qwen_no_think.sh
  scripts/Qwen3-4B-Q8_0_chat_template.txt
  scripts/extract_model_template.py
  start_local_server.sh
Due: react-native-lint, react-native-prettier, typescript-check

feat: Implement intelligent high-quality TTS with automatic voice selection
  ahlingo_mobile/TTS_IMPLEMENTATION.md
  ahlingo_mobile/src/components/VoiceQualityChecker.tsx
  ahlingo_mobile/src/services/TTSService.ts
  ahlingo_mobile/src/utils/TTSVoiceHelper.ts
Due: react-native-lint, react-native-prettier, typescript-check

chore: Add generation_failures*.csv to .gitignore
  .gitignore
Due: none

refactor: Reorganize content generation structure
  .gitignore
  content/generation/CONTENT_GENERATION.md
  content/generation/config/chapters.csv
  content/generation/config/languages.txt
  content/generation/config/levels.txt
  content/generation/config/prompt_file.json
  content/generation/config/start_server.sh
  content/generation/config/topics.txt
  content/generation/core/audio_generator.py
  content/generation/core/generate_lessons.py
  content/generation/core/outlines_generator.py
  content/generation/models/models.py
  content/generation/models/schemas.py
  content/generation/models/validation_models.py
  content/generation/utils/assistants.py
  content/generation/utils/database_validator.py
  content/generation/utils/exercise_converters.py
  content/tests/demo_outlines.py
  content/tests/test_ambiguity_validation.py
  content/tests/test_outlines.py
  content/tests/test_outlines_generation.py
  content/tests/test_single_generation.py
  create_exercise_database.py
  scripts/README.md
  scripts/generate_audio.py
  scripts/generate_content.py
  scripts/validate_content.py
  validate_database.py
Due: react-native-prettier

feat: Add TTS voice selection settings to mobile app
  ahlingo_mobile/src/components/settings/TTSVoiceSettings.tsx
  ahlingo_mobile/src/hooks/useSettingsForm.ts
  ahlingo_mobile/src/screens/SettingsScreen.tsx
  ahlingo_mobile/src/services/TTSService.ts
  ahlingo_mobile/src/store/slices/settingsSlice.ts
  ahlingo_mobile/src/types/index.ts
Due: react-native-lint, react-native-prettier, typescript-check

chore: Update version numbers to 1.3.0 and refactor import paths
  ahlingo_mobile/ios/AhLingo.xcodeproj/project.pbxproj
  ahlingo_mobile/package.json
  ahlingo_mobile/src/screens/AboutScreen.tsx
  content/create_exercise_database.py
  content/generation/core/generate_lessons.py
  content/generation/utils/database_validator.py
  content/tests/test_outlines_generation.py
  content/tests/test_single_generation.py
  run_qwen_no_think.sh
Due: react-native-lint, react-native-prettier, typescript-check

feat: Add interactive TTS to all exercise types and Ukrainian voice support
  ahlingo_mobile/src/components/ConversationView.tsx
  ahlingo_mobile/src/components/MessageBubble.tsx
  ahlingo_mobile/src/screens/ConversationExercisesScreen.tsx
  ahlingo_mobile/src/screens/FillInTheBlankScreen.tsx
  ahlingo_mobile/src/screens/TranslationExercisesScreen.tsx
  ahlingo_mobile/src/services/TTSService.ts
Due: react-native-lint, react-native-prettier, typescript-check

refactor: Unify TTSService usage and add user preference support
  ahlingo_mobile/src/screens/ConversationExercisesScreen.tsx
  ahlingo_mobile/src/screens/FillInTheBlankScreen.tsx
  ahlingo_mobile/src/screens/TranslationExercisesScreen.tsx
  ahlingo_mobile/src/services/TTSService.ts
Due: react-native-lint, react-native-prettier, typescript-check

feat: Update versioning and enhance database management with exercise type filtering
  ahlingo_mobile/android/local.properties
  ahlingo_mobile/ios/AhLingo.xcodeproj/project.pbxproj
  ahlingo_mobile/package.json
  ahlingo_mobile/src/screens/AboutScreen.tsx
  ahlingo_mobile/src/utils/constants.ts
  ahlingo_mobile/src/utils/databaseUtils.ts
  content/content_creation/database_validator.py
  content/content_creation/generate_lessons.py
  content/create_exercise_database.py
  content/database/database_manager.py
  validate_database.py
Due: react-native-lint, react-native-prettier, typescript-check

feat: Implement centralized version management and update versioning across all platforms
  ahlingo_mobile/android/app/build.gradle
  ahlingo_mobile/ios/AhLingo.xcodeproj/project.pbxproj
  bump_version.py
  content/content_creation/generate_lessons.py
  update_database_version.py
  version.py
Due: none

bump to tts on ios
  ahlingo_mobile/ios/AhLingo.xcodeproj/project.pbxproj
  ahlingo_mobile/ios_fix_script.sh
  ahlingo_mobile/src/components/settings/TTSVoiceSettings.tsx
  ahlingo_mobile/src/services/TTSService.ts
  ahlingo_mobile/src/utils/TTSVoiceHelper.ts
Due: react-native-lint, react-native-prettier, typescript-check

bump
  ahlingo_mobile/ios/AhLingo.xcodeproj/project.pbxproj
Due: none

bump to tts on ios
  ahlingo_mobile/ios/AhLingo.xcodeproj/project.pbxproj
  ahlingo_mobile/src/components/settings/TTSVoiceSettings.tsx
  ahlingo_mobile/src/services/TTSService.ts
  ahlingo_mobile/src/utils/TTSVoiceHelper.ts
Due: react-native-lint, react-native-prettier, typescript-check

chore: Update version numbers to 1.3.0 and refactor import paths
  ahlingo_mobile/DATABASE_MIGRATION.md
  ahlingo_mobile/ios/AhLingo.xcodeproj/project.pbxproj
  ahlingo_mobile/src/services/DatabaseMigrationService.ts
  ahlingo_mobile/src/utils/constants.ts
  ahlingo_mobile/src/utils/databaseUtils.ts
  content/create_exercise_database.py
  content/generation/core/generate_lessons.py
  content/generation/utils/database_validator.py
  content/tests/test_outlines_generation.py
  content/tests/test_single_generation.py
  run_qwen_no_think.sh
Due: react-native-lint, react-native-prettier, typescript-check

feat: Enhance settings forms with server model options and status indicators
  ahlingo_mobile/src/components/settings/BasicSettingsForm.tsx
  ahlingo_mobile/src/components/settings/DownloadProgressBar.tsx
  ahlingo_mobile/src/components/settings/TTSVoiceSettings.tsx
  ahlingo_mobile/src/hooks/useSettingsForm.ts
  ahlingo_mobile/src/screens/ChatbotScreen.tsx
  ahlingo_mobile/src/screens/SettingsScreen.tsx
  ahlingo_mobile/src/services/ModelService.ts
Due: react-native-lint, react-native-prettier, typescript-check

fix: Update key prop in TTSVoiceSettings and replace ScrollView with View in AnswerBox
  ahlingo_mobile/android/app/build.gradle
  ahlingo_mobile/ios/AhLingo.xcodeproj/project.pbxproj
  ahlingo_mobile/package.json
  ahlingo_mobile/src/components/AnswerBox.tsx
  ahlingo_mobile/src/components/settings/TTSVoiceSettings.tsx
  ahlingo_mobile/src/navigation/AppNavigator.tsx
  ahlingo_mobile/src/screens/MainMenuScreen.tsx
Due: react-native-lint, react-native-prettier, typescript-check

feat: Add Electron build configuration for desktop distribution
  .gitignore
  ahlingo_mobile/ELECTRON_BUILD.md
  ahlingo_mobile/electron/index.html
  ahlingo_mobile/electron/index.web.js
  ahlingo_mobile/electron/main.js
  ahlingo_mobile/electron/mocks/fs-mock.js
  ahlingo_mobile/electron/mocks/llama-mock.js
  ahlingo_mobile/electron/mocks/sqlite-mock.js
  ahlingo_mobile/electron/mocks/tts-mock.js
  ahlingo_mobile/electron/preload.js
  ahlingo_mobile/package-lock.json
  ahlingo_mobile/package.json
  ahlingo_mobile/webpack.config.js
Due: react-native-lint, react-native-prettier

fixed settings menu
  ahlingo_mobile/src/components/settings/TTSVoiceSettings.tsx
  ahlingo_mobile/src/screens/ChatbotScreen.tsx
  ahlingo_mobile/src/screens/SettingsScreen.tsx
  ahlingo_mobile/src/screens/TranslationExercisesScreen.tsx
Due: react-native-lint, react-native-prettier, typescript-check

chore: Bump version to 1.5.1 and update build configurations feat: Implement scrollable view for AnswerBox and TranslationExercisesScreen
  ahlingo_mobile/android/app/build.gradle
  ahlingo_mobile/ios/AhLingo.xcodeproj/project.pbxproj
  ahlingo_mobile/package.json
  ahlingo_mobile/src/components/AnswerBox.tsx
  ahlingo_mobile/src/screens/TranslationExercisesScreen.tsx
Due: react-native-lint, react-native-prettier, typescript-check

Refactor project structure: remove unused scripts, add version bump script, and implement database versioning
  ahlingo_mobile/DATABASE_MIGRATION.md
  ahlingo_mobile/jest.config.js
  ahlingo_mobile/src/components/ProgressRing.tsx
  ahlingo_mobile/src/screens/StatsScreen.tsx
  ahlingo_mobile/src/services/UserService.ts
  ahlingo_mobile/src/test-utils/setup.ts
  ahlingo_mobile/src/utils/databaseUtils.ts
  content/CONSOLIDATION_SUMMARY.md
  content/MIGRATION_GUIDE.md
  content/QUICK_START.md
  content/TROUBLESHOOTING.md
  content/generate_content.py
  content/generation/config/chapters.csv
  content/generation/config/database_generation.json
  content/generation/config/prompt_file.json
  content/generation/config/start_server.sh
  content/generation/core/outlines_generator.py
  dbReset.sh
  scripts/Qwen3-4B-Q8_0_chat_template.txt
  scripts/bump_version.py
  scripts/extract_model_template.py
  scripts/generate_audio.py
  scripts/generate_content.py
  scripts/update_database_version.py
  scripts/validate_content.py
  start_local_server.sh
  testing/test_database_manager.py
  testing/test_home_screen.py
  validate_database.py
Due: react-native-lint, react-native-prettier, typescript-check

seems to be working
  content/generate_content.py
  content/generation/core/outlines_generator.py
  content/generation/models/validation_models.py
  content/generation/utils/exercise_converters.py
Due: none

bump with latest changes and fixes
  .github/workflows/android-build.yml
  ahlingo_mobile/android/app/build.gradle
  ahlingo_mobile/ios/AhLingo.xcodeproj/project.pbxproj
  ahlingo_mobile/package.json
  content/generation/core/outlines_generator.py
  content/generation/utils/exercise_converters.py
  scripts/build_android_apk.sh
Due: react-native-prettier

fix to db migration
  ahlingo_mobile/ios/AhLingo.xcodeproj/project.pbxproj
  ahlingo_mobile/ios/link-assets-manifest.json
  ahlingo_mobile/package-lock.json
  ahlingo_mobile/package.json
  ahlingo_mobile/scripts/splitDatabase.js
  ahlingo_mobile/scripts/syncIosAssets.js
  ahlingo_mobile/src/services/DatabaseMigrationService.ts
  ahlingo_mobile/src/services/UserSchemaMigrationService.ts
  ahlingo_mobile/src/utils/constants.ts
  ahlingo_mobile/src/utils/databaseUtils.ts
Due: react-native-lint, react-native-prettier, typescript-check

bump to revive
  .gitignore
  AGENTS.md
  ahlingo_mobile/.eslintrc.js
  ahlingo_mobile/TESTING.md
  ahlingo_mobile/src/components/HeaderIconButton.tsx
  ahlingo_mobile/src/navigation/AppNavigator.tsx
  ahlingo_mobile/src/screens/AboutScreen.tsx
  ahlingo_mobile/src/screens/ConversationExercisesScreen.tsx
  ahlingo_mobile/src/screens/RetryMistakesScreen.tsx
  ahlingo_mobile/src/services/BaseExerciseService.ts
  ahlingo_mobile/src/services/MixedExerciseService.ts
  ahlingo_mobile/src/services/RefactoredDatabaseService.ts
  ahlingo_mobile/src/utils/databaseUtils.ts
  ahlingo_mobile/src/utils/navigationUtils.ts
  content/database/database_manager.py
  content/generate_content.py
  content/generation/config/database_generation.json
  content/generation/core/outlines_generator.py
  content/generation/models/validation_models.py
  content/img_gen/generate_clipart_flux2.py
  docs/generation/architecture.md
  docs/generation/core-concepts.md
  docs/index.md
  docs/integration/content-pipeline.md
  docs/integration/versioning.md
  docs/mobile/architecture.md
  docs/mobile/database.md
  mkdocs.yml
Due: react-native-lint, react-native-prettier, typescript-check

bump to fix header
  ahlingo_mobile/src/components/HeaderIconButton.tsx
  ahlingo_mobile/src/navigation/AppNavigator.tsx
  ahlingo_mobile/src/screens/MainMenuScreen.tsx
  content/generation/core/outlines_generator.py
Due: react-native-lint, react-native-prettier, typescript-check

init of image gen
  .gitignore
  content/database/database_manager.py
  content/generate_images.py
  content/generation/config/database_generation.json
  content/generation/core/descriptors_generator.py
  content/generation/core/image_generator.py
  content/generation/models/models.py
Due: react-native-prettier

Fix pre-commit CI: pin black formatting exactly, exclude mkdocs.yml from check-yaml
  .pre-commit-config.yaml
  content/database/database_manager.py
  content/generation/core/audio_generator.py
  content/generation/core/model_downloader.py
  content/generation/models/models.py
  scripts/bump_version.py
Due: none

Fix mobile CI: postinstall unconditionally ran pod install, breaking npm ci on Linux
  .pre-commit-config.yaml
  ahlingo_mobile/package.json
  ahlingo_mobile/scripts/postinstall.js
Due: react-native-lint, react-native-prettier

Move mobile CI workflows to repo root so they actually run
  .github/workflows/mobile-ci.yml
  AGENTS.md
  ahlingo_mobile/.github/workflows/nightly-e2e.yml
  ahlingo_mobile/.github/workflows/pr-checks.yml
  ahlingo_mobile/.github/workflows/test.yml
Due: none

Fix issues surfaced by the mobile CI workflow's first real run
  .github/workflows/mobile-ci.yml
  ahlingo_mobile/jest.config.js
  ahlingo_mobile/scripts/buildTestFixtureDb.js
  ahlingo_mobile/src/test-utils/setup.ts
Due: react-native-lint, react-native-prettier, typescript-check

Fix broken sensitive-files check: head -1's exit code is not a found/not-found signal
  .github/workflows/mobile-ci.yml
Due: none

Replace outlines with native OpenAI tool-calling for structured generation
  AGENTS.md
  content/generate_content.py
  content/generate_images.py
  content/generation/CONTENT_GENERATION.md
  content/generation/core/audio_generator.py
  content/generation/core/descriptors_generator.py
  content/generation/core/exercise_generator.py
  content/generation/core/llm_client.py
  content/generation/core/outlines_generator.py
  content/generation/models/models.py
  content/generation/models/schemas.py
  content/generation/models/validation_models.py
  content/generation/utils/database_validator.py
  docs/generation/architecture.md
  docs/integration/content-pipeline.md
  requirements.txt
Due: none

Remove incorrect Ollama-specific wording from docs/comments
  AGENTS.md
  README.md
  content/generation/CONTENT_GENERATION.md
  content/generation/core/llm_client.py
  docs/generation/architecture.md
Due: none

Path conditions:
  react-native-lint: any of: \.(js|jsx|ts|tsx)$, but not: ^(node_modules/|ahlingo_mobile/node_modules/|ahlingo_mobile/ios/|ahlingo_mobile/android/)
  react-native-prettier: any of: \.(js|jsx|ts|tsx|json)$, but not: ^(node_modules/|ahlingo_mobile/node_modules/|ahlingo_mobile/ios/|ahlingo_mobile/android/)
  typescript-check: any of: \.(ts|tsx)$, but not: ^(node_modules/|ahlingo_mobile/node_modules/|ahlingo_mobile/ios/|ahlingo_mobile/android/)
